@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: arial;
  overflow: hidden;
}
@theme {
  --animate-float1: float1 15s ease-in-out infinite;
  @keyframes float1 {
   0%{
    transform: translateX(0px);
   }
    50%{
      transform: translateX(600px);
    }
    100%{
      transform: translateX(0px);
    }
  }
  --animate-float2: float2 15s ease-in-out infinite;
  @keyframes float2 {
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-500px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  --animate-float3: float3 15s ease-in-out infinite;
  @keyframes float3 {
    0%{
      transform: translate(0px,0px);
    }
    25%{
      transform: translate(0px, 200px);
    }
    50%{
      transform: translate(200px,200px);
    }
    75%{
      transform: translate(200px, 0px);
    }
    100%{
      transform: translate(0px,0px);
    }
  }
  
}